<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <h1>Samsung Electronics IoT Innovation Challenge</h1>
            <span><address>Finalist</address><time>2016</time></span>
        </header>
        <header>
            <h1>Samsung Electronics Home Appliance Idea Competition</h1>
            <span><address>2nd place</address><time>2016</time></span>
        </header>
        <header>
            <h1>LG CNS IoT Hackathon </h1>
            <span><address>1st place</address><time>2016</time></span>
        </header>
        <header>
            <h1>LG CNS IoT Hackathon</h1>
            <span><address>2nd place</address><time>2015</time></span>
        </header>
     </article>
</section>
