<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.S. in Computer Science and Engineering</h1>
            <span>Seoul National University</span>
            <span><address>Seoul, Korea</address><time>Mar. 2012 to Aug. 2018</time></span>
        </header>
        <p>
        <span>Thesis: <em>Seokchan Ahn</em>, Kyungtae Kim, Byoung-Tak Zhang. ”Improving Natural Language Reading
Performance with Extended Skim-RNNs”. In Korea Computer Congress 2018, pp. 1012-1014</span>
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. in Business Administration</h1>
            <span>Seoul National University</span>
            <span><address>Seoul, Korea</address><time>Mar. 2012 to Aug. 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <span>Seoul Science High School</span>
            <span><address>Seoul, Korea</address><time>Mar. 2009 to Feb. 2012</time></span>
        </header>
    </article>
</section>
