<section class="thirteen columns">
    <article>
        <p>
            I am a research engineer at Neural Machine Translation Part, Next AI Solution Lab, <a href="https://research.samsung.com/">Samsung Research</a>. My research interests lie in the area of natural language processing and machine learning. My long-term goal is to build a NLP system that can adapt to new domains or tasks without having enormous data.
        </p>
        <p>
            Previously, I received B.S. in Computer Science and Engineering and B.B.A. from <a href="https://en.snu.ac.kr">Seoul National University</a>. 
        </p>
    </article>
</section>
