<section class="thirteen columns">
    <h1>Research Experiences</h1>
    <article>
        <header>
            <h1>Architecture &amp; Code Optimization Lab</h1>
            <span>Research Intern</span>
            <span><address>Seoul National University</address><time>Jan. 2018 to Mar. 2018</time></span>
        </header>
        <p>
            Off-loaded convolution operations of an in-house deep learning framework to FPGA.
        </p>
    </article>
    <article>
        <header>
            <h1>Biointelligence Lab</h1>
            <span>Independent Research</span>
            <span><address>Seoul National University</address><time>Jan. 2018 to Mar. 2018</time></span>
        </header>
        <p>
            <em>Seokchan Ahn</em>, Kyungtae Kim, Byoung-Tak Zhang. ”Improving Natural Language Reading Performance with Extended Skim-RNNs”. In Korea Computer Congress 2018, pp. 1012-1014
        </p>
    </article>
</section>
