<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Software engineering</h1>
        </header>
        <p>
            <span>Programming Languages</span>
            &nbsp;&nbsp;<em>C/C++, Python, Java, Javascript, SQL</em>
        </p>
        <p>
            <span>DevOps</span>
            &nbsp;&nbsp;
            <em>AWS, Docker, Kubernetes, GitLab</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <span>English</span>
            &nbsp;&nbsp;<em>Business Level</em> <span>(OPIc: AL)</span>
        </p>
        <p>
            <span>Korean</span>
            &nbsp;&nbsp;<em>Native</em>
        </p>
    </article>
</section>
