<section class="thirteen columns">
    <h1>Work Experiences</h1>
    <article>
        <header>
            <h1>Samsung Research</h1>
            <span>Research Engineer</span>
            <span><address>Neural Machine Translation Part, Next AI Solution Lab</address><time>Jul. 2018 to Present</time></span>
        </header>
        <p>Text-to-Text translation</p>
        <p>Speech-to-Text translation (Cascading, End-to-End)</p>
    </article>
    <article>
        <header>
            <h1>Korea National Police Agency</h1>
            <span>Software Engineer</span>
            <span><time>Apr. 2014 to Oct. 2015</time></span>
        </header>
        <p>Full stack web development</p>
        <p>Android app development</p>
    </article>

</section>
