<section class="thirteen columns">
    <h1>Work Experiences</h1>
    <article>
        <header>
            <h1>Research Engineer</h1>
            <span>Samsung Research, Machine Translation Department</span>
            <span><address>Seoul, Korea</address><time>Jul. 2018 to Present</time></span>
        </header>
        <p>Working on machine translation, data processing, augmentation.</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span>Korea National Police Agency</span>
            <span><address>Seoul, Korea</address><time>Apr. 2014 to Oct. 2015</time></span>
        </header>
        <p>Developed an inventory management web service to automatize police equipment supply. (in use nationwide) and some other mobile, web apps.</p>
    </article>

</section>
